body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(0, 0, 0);
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.movie-card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.movie-card img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-details {
    padding: 10px;
}

.movie-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #ddd;
}

.movie-overview {
    font-size: 14px;
    margin-top: 5px;
    color: #666;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .movie-card {
        width: 100%;
    }
}


/* .shimmer {
    height: 300px;
    background: #e6e8e9;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px; 
    display: inline-block;
    position: relative; 
    overflow: hidden; 
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.shimmer-effect {
     animation-duration: 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear; 
} */

@keyframes shimmer {
    0% {
      background-position: -800px 0;
    }
    100% {
      background-position: 800px 0;
    }
  }
  
  .shimmer-bg {
    height: 300px;
    background-color: #223860; /* Base color */
    background-image: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0) 0%, 
      rgba(255, 255, 255, 0.2) 50%, 
      rgba(255, 255, 255, 0) 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 100%; /* Control the width of the shimmer effect */
    animation: shimmer 2s infinite linear;
  }
  